[MESSAGES CONTROL]
enable=all
disable=
  locally-disabled,
  suppressed-message,
  duplicate-code,
  f-string-without-interpolation,
  fixme,
  import-error,
  import-outside-toplevel,
  inconsistent-return-statements,
  invalid-name,
  invalid-unary-operand-type,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  no-value-for-parameter,
  not-callable,
  protected-access,
  redefined-argument-from-local,
  stop-iteration-return,
  superfluous-parens,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-locals,
  too-many-statements,
  undefined-loop-variable,
  unsubscriptable-object,
  # does not play nicely with decorators injecting arguments as done
  # by the cache decorator. disable it globally instead than having to
  # sprinkle pylint directives all over
  unexpected-keyword-arg,
  # revisit these maybe
  assignment-from-no-return,
  broad-except,
  logging-format-interpolation,
  no-self-use,
  redefined-outer-name,
  super-init-not-called,
  unused-argument,
  unused-variable,
  unused-wildcard-import,
  wildcard-import,
