[MESSAGES CONTROL]
enable=all
disable=
  locally-disabled,
  suppressed-message,
  duplicate-code,
  fixme,
  import-error,
  inconsistent-return-statements,
  invalid-name,
  invalid-unary-operand-type,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  no-value-for-parameter,
  not-callable,
  protected-access,
  stop-iteration-return,
  superfluous-parens,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-locals,
  too-many-statements,
  undefined-loop-variable,
  unsubscriptable-object,
  # revisit these maybe
  assignment-from-no-return,
  broad-except,
  logging-format-interpolation,
  no-self-use,
  redefined-outer-name,
  unused-argument,
  unused-variable,
