[MESSAGES CONTROL]
enable=all
disable=
  locally-disabled,
  suppressed-message,
  duplicate-code,
  fixme,
  invalid-name,
  invalid-unary-operand-type,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  not-callable,
  protected-access,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-locals,
  too-many-statements,
  undefined-loop-variable,
  # revisit these maybe
  redefined-outer-name,
  broad-except,
  logging-format-interpolation,
  unused-argument,
  unused-variable,
  no-self-use