name: build
on:
  push:
    tags:
      - 'v[0-9]*'

jobs:
  wheels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python -m pip install build twine
      - run: python -m build
      - run: python -m twine upload dist/*
        env:
          TWINE_REPOSITORY: testpypi
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI }}
